<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${siledername}]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/flat-ui.min.css}">
    <script src="webjars/jquery/3.1.1/jquery.min.js" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/js/sweetalert.min.js}"></script>
    <script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <script  th:src="@{/js/flat-ui.min.js}"></script>
</head>
<style>
    .center{
        text-align: center;
    }
    .pagination{
        background: #cccccc;
    }
    body,html{
        width: 100%;height: 100%;background-color: #fff;
        background-image: url("/images/bg/bg02.png");
    }
    .main{background-color: #fff;border-radius: 10px;padding-top: 10px;}
</style>
<body>
<!--引入导航条-->
<div th:insert="~{navbar :: navbar}"></div>
<!--内容部分-->
<div class="container main">
    <div class="row" style="margin-right:10px;margin-left: 10px;">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <!--我的问题列表-->
            <strong style="margin-top: 15px;"><span class="glyphicon glyphicon-list"></span>[[${siledername}]]</strong>
            <hr>
            <div th:if="${page!=null}">
                <div th:each="question:${page.list}" class="media question">
                    <div class="media-left">
                        <a href="#">
                            <img th:class="img-rounded" width="40px" class="media-object"
                                 th:src="${question.user.avatarUrl}"
                                 alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a style="font-size: 14px" th:href="@{/question/}+${question.id}"
                               href="https://elasticsearch.cn/article/13422"
                               th:text="${question.title}"></a>
                        </h4>
                        <span style="font-size: 12px;color: #999999">
                        <span th:text="${question.user.name}"></span>回复了问题 • 发布了置顶文章 •
                        <span th:text="${question.commentCount}"></span>人评论 •
                        <span th:text="${question.viewCount}"></span>次浏览 •
                        发布时间:<span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd hh:mm:ss')}"></span>
                            <div style="float: right;font-size: 12px;cursor: pointer">
                                <a style="color: #777;" th:href="@{/publish/}+${question.id}"
                                   class="fui-new">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a style="color: #777;" onclick="deleteQuestion(this)" th:data-id="${question.id}" class="fui-trash">删除</a></div>
                    </span>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li th:if="${page.isHasPreviousPage()}">
                                <a th:href="@{/profile/questions/(pageNo=${page.prePage})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:each="nav:${page.navigatepageNums}" th:class="${page.pageNum==nav? 'active':'' }">
                                <a th:href="@{/profile/questions/(pageNo=${nav})}">[[${nav}]]<span class="sr-only">(current)</span></a>
                            </li>
                            <li th:if="${page.isHasNextPage()}">
                                <a th:href="@{/profile/questions/(pageNo=${page.nextPage})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div>
            <!--我的通知-->
            <div class="info_wrapper" th:if="${notification!=null}">
                <small th:if="${silderbar=='replies'}" th:each="tip:${notification}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img width="30" class="img-rounded" th:src="${tip.getNotifier().getAvatarUrl()}"/>
                            [[${tip.getNotifier().getName()}]]
                            <small>
                                [[${tip.getCommentNotificationType().getName()}]]:
                            </small>
                            <span style="float: right;" th:if="${tip.getStatus()==0}">
                                <span><span class="label label-success">已读</span></span>
                            </span>
                            <span style="float: right;" th:if="${tip.getStatus()==1}">
                                    <small class="label label-danger">未读</small>
                            </span>
                            <br>
                            <small style="float: right;font-size: 14px;" class="iconfont icon-shanchu2">
                                    <a  th:href="@{/deletenotification/(id=${tip.getId()})}">删除</a>
                            </small>

                          <small>
                              <!--回复问题通知-->
                              <a th:href="@{/read/(id=${tip.getId()})}+'&status='+${tip.getStatus()}"
                                 th:if="${tip.getCommentNotificationType().getCode()==1}"
                                 th:text="${tip.getItem().getTitle()}"></a>
                              <!--回复评论通知-->
                              <a th:href="@{/read/(id=${tip.getId()})}+'&status='+${tip.getStatus()}"
                                 th:if="${tip.getCommentNotificationType().getCode()==2}"
                                 th:text="${tip.getItem().getContent()}"></a>
                              <!--点赞评论通知-->
                              <a th:href="@{/read/(id=${tip.getId()})}+'&status='+${tip.getStatus()}"
                                 th:if="${tip.getCommentNotificationType().getCode()==3}"
                                 th:text="${tip.getItem().getContent()}"></a>
                              <!--点赞问题通知-->
                              <a th:href="@{/read/(id=${tip.getId()})}+'&status='+${tip.getStatus()}"
                                 th:if="${tip.getCommentNotificationType().getCode()==4}"
                                 th:text="${tip.getItem().getTitle()}"></a>
                              <!--关注通知-->
                              <a th:href="@{/read/(id=${tip.getId()})}+'&status='+${tip.getStatus()}"
                                 th:if="${tip.getCommentNotificationType().getCode()==5}">你</a>

                          </small>

                            <span style="color:#303030;float:right;font-size:12px;margin-right: 10px;" th:text="${#dates.format(tip.gmtCreate, 'yyyy年MM月dd日 hh:mm:ss')}"></span>
                        </div>

                    </div>

                </small>
                <div th:if="${notification.size()>0}" style="float: right;">
                    <a class="btn btn-sm btn-default iconfont icon-shanchu2" id="deleteRead">删除已读</a>
                    <a class="btn btn-sm btn-primary iconfont icon-shanchu2" id="readAll">标为已读</a>
                </div>
            </div>
            <!--我关注的人-->
            <div th:if="${follows!=null}">
                <div class="row">
                    <div th:each="fu:${follows}" class="col-sm-6 col-md-2">
                        <div class="thumbnail">
                            <a th:href="@{/people/(id=${fu.id})}">
                            <img th:width="50" class="img-circle" th:src="${fu.avatarUrl}" src="..." alt="...">
                            </a>
                            <div class="caption text-center">
                                <strong th:text="${fu.name}"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 rightwrapper" style="height: 800px; padding-top: 20px">
            <div class="list-group">
                <a th:href="@{/profile/questions}" class="list-group-item"
                   th:classappend="${silderbar=='questions'? 'active':''}">
                    我的问题
                </a>
                <a th:href="@{/profile/replies}" class="list-group-item"
                   th:classappend="${silderbar=='replies'? 'active':''}">
                    我的通知
                    <span class="badge"  th:text="${session.unreadcount}"></span>
                </a>
                <a th:href="@{/profile/follows}" class="list-group-item"
                   th:classappend="${silderbar=='follows'? 'active':''}">我的关注</a>
                <a href="#" class="list-group-item">我的收藏</a>
            </div>

        </div>
    </div>
</div><!--页尾-->
<div th:insert="~{navbar :: navbottom}"></div>

</body>
</html>
<script>
    $(function () {
        var isopen=false;
        $("#me").click(function () {
            $(this).toggleClass("open");
        })
    })
    //删除已读
    $("#deleteRead").click(function () {
        $.get("/AjaxDeleteRead",{"time":new Date()},function (data) {
            if(data.code=="1000"){
                swal("删除已读成功!","操作成功","success",{
                    buttons: false,
                    timer: 1000,
                }).then((value) => {
                    window.location.reload();
                });
            }else{
                swal("删除已读成功失败!","操作失败","error");
            }
        })
    })
    //全部标为已读
    $("#readAll").click(function () {
      $.get("/readAll",{"time":new Date()},function (data) {
          if(data.code=="1000"){
              swal("全部标为已读成功!","操作成功","success",{
                  buttons: false,
                  timer: 1000,
              }).then((value) => {
                  window.location.reload();
              });
          }else{
              swal("全部标为已读失败!","操作失败","error");
          }
      })
        return false;
    })

    //删除我的问题
    function deleteQuestion(e) {
        var id=e.getAttribute("data-id");
        var url="/deleteQuestion";
        swal({
            title: "你确定要抛弃你的问题吗~?",
            text: "世上没有后悔药咯~",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
        if (willDelete) {
            $.get(url,{"id":id,"time":new Date()},function (data) {
              if(data.code==1000){
                  swal(data.extend.result, {icon: "success",}).then((value) =>
                  {
                     window.location.href="/profile/questions";
              });
              }else {
                  swal(data.msg, {
                      icon: "error",
                  });
              }
            });
        } else {
            swal("删除失败，你的问题安全了!");
    }
    })

    }
</script>