<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>发起问题</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/flat-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/editormd.min.css}"/>
</head>
<body>
<style>
    body,html{
        width: 100%;height: 100%;background-color: #fff;
        background-image: url("/images/bg/bg02.png");
    }
    .main{background-color: #fff;border-radius: 10px;padding-top: 10px;}
</style>
<!--引入导航条-->
<div th:insert="~{navbar :: navbar}"></div>
<!--内容部分-->
<div class="container main">
    <div class="row">
        <!--左边部分-->
        <div class="col-lg-9 col-md-12 col-sm-12 container-fluid">
            <br>
            <h7><span class="fui-list-thumbnailed"></span>&nbsp;&nbsp;<strong>问题标题</strong></h7>
            <hr>
            <form  style="border-top: 1px solid #eee;" id="publish_form">
                <input type="hidden" th:name="id" th:value="${id}">
               <div class="row">
                   <!--标题-->
                   <div class="form-group col-lg-9 col-md-11 col-sm-3">
                       <input type="text" th:value="${title}" class="form-control" th:id="title" name="title" placeholder="标题">
                   </div>
                   <div class="form-group col-lg-3 col-md-2 col-sm-2">
                       <input type="hidden" name="select_val" id="select_val" th:value="${category}">
                       <select  type="text" class="form-control" id="category" name="category">
                           <option th:value="0">选择分类</option>
                           <option th:value="1">提问</option>
                           <option th:value="2">分享</option>
                           <option th:value="3">讨论</option>
                           <option th:value="4">建议</option>
                           <option th:value="5">Bug</option>
                       </select>
                   </div>
               </div>
                <!--描述信息-->
                <label for="bs-example-navbar-collapse-1">问题补充 (必填,请参照右侧提示)</label>
                <div id="editor">
                        <textarea style="display:none;" th:text="${description}" th:id="description"
                                  name="description" placeholder="填写问题详情信息">
                        </textarea>
                </div>
                <!--标签输入
                <div class="form-group">
                    <label for="bs-example-navbar-collapse-1">添加标签</label>
                    <input type="hidden" th:value="${tag}" class="form-control" th:name="tag"
                           name="description" id="tagcontent"
                           placeholder="输入标签以 , 分隔">
                </div>

                <!--标签导航
                <div  th:id="tagwrapper">
                    <span th:each="Mytags:${tagsCache}">
                    <span style="font-size: 14px;color: #999;" th:text="${Mytags.tagTitle}"></span>: &nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="cursor: pointer;" th:each="tag:${Mytags.tags}">
                        <span class="label label-default" onclick="addTag($(this).html())">[[${tag}]]</span>
                    </span>
                  <br><br>
                </span>
                </div>
                -->
                <!---->
                <div class="box">
                    <label for="bs-example-navbar-collapse-1">添加标签</label>
                    <div class="tagsinput-primary form-group">
                        <input name="tagsinput" th:value="${tag}" th:name="tag" id="tagsinputval" class="tagsinput" data-role="tagsinput" value="java,spring" placeholder="输入后回车"/>
                    </div>
                </div>
                <!--提示信息-->
                <div class="form-group">
                    <div class="alert alert-success" th:if="${msg!=null}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <a href="#" class="alert-link" th:text="${msg}">...</a>
                    </div>
                    <input  style="float: right; margin-bottom: 100px;" type="button" th:value="发表" class="btn btn-default btn-default" th:id="publishBtn" onclick="publish()">
                </div>
            </form>

        </div>
        <!--右边部分-->
        <br>
        <div class="col-lg-3 col-md-12 col-sm-12 rightwrapper" style="height: 800px;">
            <strong style="margin-top: 20px;"><span class="iconfont icon-wenti"></span>&nbsp;问题发起指南</strong>
            <hr>
            <small>
            1、使用本站源码不得用于任何商业用途以及任何变现，站长提供给大家只是为了让大家用于学术学习研究，不得使用本站提供的资源非法谋取 ta
            人利益，任何获取利益的都视为非法，后果与本站无关！请务必在符合国家规定范围内使用本站任何程序！
            </small>
            <br>
            <small>
                2、本站资源绝多大数收集于网络或网友分享，本站本身并不生产任何资源，因此并不能保证每一款资源都百分百适合你！
            </small>
            <br>
            <small>
                3、如有发现本站发布的资源侵犯了您的利益，欢迎来信告诉我们，核实后将会删除。
            </small>
        </div>

        </p>

    </div>
</div>
<!--页尾-->
<div th:insert="~{navbar :: navbottom}"></div>
<script src="webjars/jquery/3.1.1/jquery.min.js" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/js/sweetalert.min.js}"></script>
<script th:src="@{/js/tagsinput.js}" type="text/javascript" charset="utf-8"></script>
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script  th:src="@{/js/flat-ui.min.js}"></script>
<script th:src="@{/editormd.min.js}"></script>
<script type="text/javascript">
    $(function () {
        var editor = editormd("editor", {
            path: "/lib/",  // Autoload modules mode, codemirror, marked... dependents libs path
            width: "100%",
            placeholder: "此处开始编写您要发布的内容...",
            emoji: true,
            taskList: true,
            flowChart: true,             // 开启流程图支持，默认关闭
            //sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            height: "600px",
            delay: 0,
            saveHTMLToTextarea: true, // 保存 HTML 到 Textarea
            toolbarAutoFixed: false,//工具栏自动固定定位的开启与禁用
            syncScrolling: "single",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "question/fileupload",
            //theme : "dark",
            //previewTheme : "dark",
            //editorTheme : editormd.editorThemes['3024-night'],
            watch: false,
        });
        //选中的类型
        var select_val=$("#select_val").val();
        $("#category option[value='"+select_val+"']").attr("selected","selected");
        var isopen=false;
        $("#me").click(function () {
            $(this).toggleClass("open");
        })
    })
    function publish(){
        $("#tagcontent").val($('#tagsinputval').val());
        var args=$("#publish_form").serialize();
        var url="/publish";
        $.post(url,args,function (data) {
            if(data.code==1000){
                swal(data.extend.result,"你的问题抛向了太空了~","success", {
                    buttons: false,
                    timer: 1000,
                })
                .then((value) => {
                    window.location.href="/"
                });
            } else {
                if(data.code=="2003"){
                    swal(data.message,data.message,"error",{
                        buttons: false,
                        timer: 1000,
                    }).then((value) => {
                        window.location.href="/"
                })
                }else {
                    swal(data.message,data.message,"warning");
                }
            }
        })
        return false;
    }
    function addTag(tagname) {
        var preval = $("#tagcontent").val();
        if (""==preval||preval==null) {
            $("#tagcontent").val(tagname);
        } else {
            if(preval.indexOf(tagname) >= 0 ) {
                alert("已经包含该标签不能重复添加");
                return false;
            }
            $("#tagcontent").val(preval+","+tagname);
        }
    }
</script>

</body>
</html>