body{
    background: url("/bg.jpg") repeat;
}
.main{
    background-color: #ffffff;
    margin-top: 0px;
    padding: 20px;
}
.question{
    padding: 10px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
}
.rightwrapper{
    border-left: 1px solid #e6e6e6;
}
.comment>span{

}

